Repository shaungrady/solaredge-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add lint job to CI workflow
  .github/workflows/ci.yml
Due: none

chore: configure `eslint`, add `lint` script
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write

chore: fix CI workflow running twice for PRs
  .github/workflows/ci.yml
Due: none

chore: resolve linter errors
  src/api/api.class.ts
  src/api/api.types.ts
  src/helpers/date.ts
Due: none

chore: add `lint` script (#2)
  .eslintrc.js
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/api/api.class.ts
  src/api/api.types.ts
  src/helpers/date.ts
Due: prettier --write

test: add `test` script, tests for date helpers
  .github/workflows/ci.yml
  jest.config.js
  package-lock.json
  package.json
  src/api/api.class.ts
  src/helpers/date.fns.spec.ts
  src/helpers/date.fns.ts
Due: prettier --write

refactor: Api date logic
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.ts
  src/helpers/date.fns.spec.ts
  src/helpers/date.fns.ts
  src/helpers/types.ts
Due: none

test: start writing Api tests
  .eslintrc.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.ts
  src/client/client.types.ts
  src/shared/errors.enum.ts
  src/shared/types.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

chore: add coverage, fix jest-ts config, refactor ci
  .github/workflows/ci.yml
  .gitignore
  jest.config.js
  jest.types.d.ts
  package.json
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/shared/types.ts
  tsconfig.spec.json
Due: prettier --write

chore: organize files
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  rollup.config.js
  rollup.tsconfig.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

fix(Api): Added tests, fixed uncovered bugs, made refinements
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.ts
  src/shared/compare-dates.fn.ts
Due: none

chore(test): Exclude specs from build
  rollup.tsconfig.json
Due: prettier --write

test: Ensure SolaredgeClient is the default lib export
  src/index.spec.ts
Due: prettier --write, eslint --fix

Create README.md
  README.md
Due: prettier --write

chore: Integrate Codecov
  .github/workflows/ci.yml
Due: none

chore: Integrate Codecov (#6)
  .github/workflows/ci.yml
Due: none

chore(ci): Switch from Codecov to CodeClimate
  .github/workflows/ci.yml
Due: none

chore(ci): Switch from Codecov to CodeClimate (#8)
  .github/workflows/ci.yml
Due: none

chore: Create Dependabot config
  .github/dependabot.yml
Due: none

chore: Include GitHub Actions in Dependabot checks
  .github/dependabot.yml
Due: none

test(client): Add Client tests, refine Api generator method
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
  src/client/client.types.ts
  src/shared/response-body.mock.ts
Due: none

chore(test): clean up
  .eslintrc.js
  .gitignore
  jest.config.js
  rollup.tsconfig.json
  src/api/api.class.spec.ts
  src/client/client.class.spec.ts
  src/test/async-for-each.fn.ts
  src/test/mock-response-body.fn.ts
  src/test/parse-params.fn.ts
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

chore(test): Treat `.mock.ts` files as being test-related
  .eslintrc.js
  jest.config.js
  rollup.tsconfig.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

test(client): Write tests for #fetchSiteEnergyGenerator
  src/api/api.class.spec.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
  src/index.spec.ts
  src/shared/parse-params.mock.ts
Due: prettier --write, eslint --fix

test(client): write remaining tests
  src/client/client.class.spec.ts
  src/client/client.class.ts
Due: none

change enum to const
  src/client/client.types.ts
Due: none

test(client): Write tests for Client (#7)
  .eslintrc.js
  .gitignore
  jest.config.js
  rollup.tsconfig.json
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
  src/client/client.types.ts
  src/index.spec.ts
  src/test/async-for-each.fn.ts
  src/test/mock-response-body.fn.ts
  src/test/parse-params.fn.ts
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

chore: reelase-drafter
  .github/release-drafter.yml
  .github/workflows/release.yml
Due: none

chore: add release script
  package.json
Due: prettier --write

fix: package exports, package types
  package.json
  src/index.spec.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: package exports, package types
  .gitignore
  package.json
  src/index.spec.ts
  src/index.ts
Due: prettier --write, eslint --fix

1.0.1
  lib/cjs/index.d.ts
  lib/cjs/index.js
  lib/cjs/index.js.map
  lib/esm/index.d.ts
  lib/esm/index.js
  lib/esm/index.js.map
  lib/umd/solaredge-client.js
  lib/umd/solaredge-client.js.map
  lib/umd/solaredge-client.min.js
  lib/umd/solaredge-client.min.js.map
  package-lock.json
  package.json
Due: prettier --write

fix: .gitignore
  .gitignore
Due: none

chore: Add CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

chore(dependabot): increase interval to monthly
  .github/dependabot.yml
Due: none

chore(project): remove release workflow
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  prettier --write: (any of: **/*.{json,md}) or (any of: src/*.{ts,js})
  eslint --fix: any of: src/*.{ts,js}
