Repository shaungrady/solaredge-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

.lintstagedrc.json:

{
  "**/*.{json,md}": "prettier --write",
  "src/**/*.{ts,js}": [
    "npm run lint -- --fix --cache",
    "prettier --write",
    "npm run test -- --bail --findRelatedTests"
  ]
}

chore(project): clean up
  package-lock.json
  package.json
  rollup.config.js
  rollup.tsconfig.json
  tsconfig.json
Due: prettier --write

chore(project): semi-automate releases
  .github/workflows/ci.yml
  .github/workflows/publish-draft-release.yml
  .github/workflows/publish-release.yml
  package-lock.json
  package.json
  scripts/github/publish-draft-release.js
  scripts/push-draft-release.js
Due: prettier --write

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(project): only draft release after successful CI
  .github/workflows/publish-draft-release.yml
  .github/workflows/publish-release.yml
Due: none

fix(package): paths
  .github/workflows/publish-draft-release.yml
  package.json
Due: prettier --write

chore(project): fix CodeQL workflow triggers
  .github/workflows/codeql-analysis.yml
Due: none

chore(package): add .npmrc for publishing to GitHub
  .npmrc
  package.json
Due: prettier --write

chore(package): fix registry
  .npmrc
  package.json
Due: prettier --write

chore(project): use tabs
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-draft-release.yml
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  CHANGELOG.md
  jest.config.js
  scripts/github/publish-draft-release.js
  scripts/push-draft-release.js
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
  src/client/client.types.ts
  src/index.spec.ts
  src/shared/compare-dates.fn.ts
  src/shared/errors.enum.ts
  src/test/async-for-each.fn.ts
  src/test/mock-response-body.fn.ts
  src/test/parse-params.fn.ts
  tsconfig.cjs.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.spec.json
  tsconfig.umd.json
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

chore(project): switch to yarn
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish-draft-release.yml
  .github/workflows/publish-release.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore(package): tabs
  package.json
Due: prettier --write

chore(project): switch to yarn (#51)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/publish-draft-release.yml
  .github/workflows/publish-release.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: update .eslintrc with new prettier rule extension
  .eslintrc.js
Due: none

feat!: wrap responses with for easier error handling, rename methods
  .eslintrc.js
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  jest.config.js
  jest.setup.js
  package.json
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
  src/client/client.types.ts
  src/mocks/handlers.ts
  src/mocks/responses/inverterTechnicalData.json
  src/mocks/responses/siteEnergy.json
  src/mocks/responses/sitePower.json
  src/mocks/responses/sitesList.json
  src/mocks/server.ts
  src/test/mock-response-body.fn.ts
  src/test/parse-params.fn.ts
  tsconfig.json
  tsconfig.spec.json
  yarn.lock
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

chore: update code climate action config
  .github/workflows/ci.yml
Due: none

chore: swap npm with yarn
  .github/workflows/ci.yml
Due: none

chore: fix dependabot trying to report code coverage
  .github/workflows/ci.yml
Due: none

chore: fix eslint config
  .eslintrc.js
  src/shared/types.ts
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

chore: update `eslint-config-airbnb-typescript`, import sorting
  package.json
  src/api/api.class.spec.ts
  src/api/api.class.ts
  src/client/client.class.spec.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  yarn.lock
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

fix: incorrect API call path
  src/api/api.class.ts
  src/api/api.types.ts
  src/client/client.class.spec.ts
  src/client/client.class.ts
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests

feat: improve `ApiResponse` type
  src/api/api.types.ts
Due: prettier --write, npm run lint -- --fix --cache, npm run test -- --bail --findRelatedTests
